.header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  .logo{
    text-align: left;
    justify-content: flex-start;
    padding-left: 50px;
  }
  .favicons{
    text-align: right;
      display: flex;
      justify-content: flex-end;
      padding-right: 50px;
    }
  }




.content{
    background-color: #F5F5F5;
  .content-search{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  
  .content-header{
    padding-top: 50px;
    padding-left: 50px;
  }
  .news{
    padding-left: 50px;
  }
  .news-content{
    padding-top: 15px;
  }
}

.News-description{
  padding: 25px 0 0 20px;
  background-color: white;

  h5{
  color: white;
  background:#396EB0 ;
  width: 20%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  }
}

.footer
{
  color:white;
  padding: 20px 0 0 50px;
  background:#396EB0 ;
}

